.board{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: auto;
    width: 450px;
    height: 450px;
}
.square{
    grid-column: 1fr;
    grid-row: 1fr;
    grid-gap: none;
    background: white;
}
#square1, #square2, #square3, #square4, #square5, #square6{
    border-bottom: 2px solid black;
}
#square1, #square2, #square4, #square5, #square7, #square8{
    border-right: 2px solid black;
}
#square2, #square3, #square5, #square6, #square8, #square9{
    border-left: 2px solid black;
}
#square4, #square5, #square6, #square7, #square8, #square9{
    border-top: 2px solid black;
}
.turnCounter{
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 800;
}
.clear{
    display: block;
    max-width: 300px;
    margin: 40px auto;
}